.__post {
    width: 60%;
    padding: 3rem;
    margin: 2rem;
    background-color: rgb(235, 233, 233);
    box-shadow: 0 1px 2px grey;
    align-items: center;
}
.__content {
    color: rgb(95, 95, 95);
}
.__header {
    display: flex;
    flex-direction: column;
}
.__title {
    color: rgb(66, 66, 66);
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1.5rem;
}
.__description {
    font-size: 1.2rem;
    color: rgb(78, 78, 78);

}
.__body {
    margin: 2rem 0;
}
.__p {
    line-height: 1.7;
    justify-content: justify;
}